.canvas{background-color:gray;width:50%;text-align:left;padding:15px;font:12px arial;}
.cpu{background-color:blue;text-align:right;}
.rsx{background-color:cyan;text-align:right;}
.fan{background-color:#fc0;text-align:right;}
